/*header开始*/
.header{
	height: 32px;
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}
.header_lf{
	line-height: 32px;
}
.header_lf>i{
	width: 13px;
	height: 13px;
	background-position: -90px -23px;
	margin-top: -4px;
}
.header_rf>li{
	float: left;
	line-height: 32px;
	margin: 0 3px;
}
.header_rf>li>i{
	width: 13px;
	height: 22px;
	background-position: -128px -360px;
}
.header_rf>li>i:hover{
	width: 13px;
	height: 22px;
	background-position: -128px -399px;
}
.header_rf>.kehufuwu>i{
	width: 13px;
	height: 13px;
	background-position: -94px -55px;
	margin-top: 10px;
}
.header_rf>.kehufuwu>i:hover{
	width: 13px;
	height: 13px;
	background-position: -26px -324px;
	background-image: url(../images/iconlist_1.png);
}
.header_rf>.vip>b{
	background-image: url(../images/vip.jpg);
	width: 24px;
	height: 11px;
}
.geduan{
	color: #eee;
}
.header_rf>.bjd>b{
	background-image: url(../images/dakehu.jpg);
	width: 21px;
	height: 11px;
}
/*header结束*/

/*search开始*/
.search{
	height: 77px;
	width: 1211px;
	margin: 0 auto;
}
.middle{
	margin: -45px 321px;
	width: 490px; 
}
.neirong{
	width: 393px;
	height: 35px;
	color: #706e70;
	border: 2px solid #ee3233;
	font-size: 9px;
	padding: 0 5px;
}
.sousuo{
	border: 2px solid #ee3233;
	width: 82px;
	height: 39px;
	background-color: #ee3233;
	margin-left: -4px;
	margin-top: -2px;
	color: white;
	font-size: 12px;
}
.xiaozi{
	color: #999;
	font-size: 13px;
}
#lianjie{
	color: #999;
}
.kuai{
	width: 367px;
	height: 77px;
	margin: -30px 843px;
	float: left;
}
.kuai1{
	width:109px; 
	height:32px;
	border: 1px solid #eee;
	background-color: #fafafa;
	margin:21px 0px;
	line-height: 32px;
}
.search>.kuai>.kuai1>i{
	width: 20px;
	height: 17px;
	background-position: -120px -30px;
	margin: 0 5px;
}
.search>.kuai>.kuai1>i:hover{
	width: 20px;
	height: 17px;
	background-position: -120px -60px;
	margin: 0 5px;
}
.kuai>.kuai1>.tri{
	display: inline-block;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 6px;
	border: 5px solid black;
	border-color:#706e70 transparent transparent transparent;
}
.kuai2{
	width:115px;
	height:32px;
	border: 1px solid #eee;
	background-color: #fafafa;
	margin:-55px 131px;
	line-height: 32px;
}
.search>.kuai>.kuai2>i{
	width: 21px;
	height: 17px;
	background-position: -120px -90px;
}
.search>.kuai>.kuai2>i:hover{
	width: 21px;
	height: 17px;
	background-position: -120px -121px;
}
.search>.kuai>.kuai2>li>i{
	width: 6px;
	height: 9px;
	background-position: -110px -46px;
}
.jiesuan{
	margin: -32px 100px;
}
/*search结束*/
/*nav开始*/
.nav{
	height: 42px;
}
.nav_header_first{
	width: 212px;
	height: 42px;
	background-color: #cc2223;
	color: white;
	font-size: 16px;
	line-height: 42px;
	text-align:center;
}
.nav_top>a{
	float: left;
	width: 96px;
	height: 42px;
	background-color: #ee4444;
	color: white;
	line-height: 42px;
	text-align:center;
	font-size: 16px;
}
.nav_header_last{
	width: 328px;
	height: 42px;
	background-color: #ee4444;
	margin: -42px 884px;
}
.nav_lf{
	border: 1px solid #ee3233;
	width: 210px;
	height: 440px;
}
.nav_lf_z1{
	height: 22px;
	width: 120px;
	padding: 40px 13px;
	font-size: 13px;
	line-height: 30px;

}
.nav_lf_z{
	height: 67px;
	width: 120px;
	padding: 0px 13px;
	font-size: 13px;
	line-height: 30px;
}
.nav_ce{
	width: 670px;
	height: 363px;
	margin: -365px 222px;
	border-top: 1px solid #aaa;
}
.nav_ce_first{
	margin: -25px 0px;
}
.nav_ce_first>a>img{
	width: 670px;
	height: 240px;
}
.nav_ce_last{
	padding: 20px 0px;
	height: 129px;
}
.nav_ce_last_one{
	width: 221px;
	height: 148px;
	border: 1px solid #aaa;
}
.nav_ce_last_one>i{
	background-image: url(../images/ad-arraw.png);
	width: 23px;
	height: 26px;
	position: relative;
	bottom: 66px;
	background-position: 2px -3px;
}
.nav_ce_last_one>i:hover{
	background-image: url(../images/ad-arraw-hover.png);
	width: 23px;
	height: 26px;
	background-position: 2px -3px;
}
.nav_ce_last_one>a>img{
	width: 168px;
	height: 139px;
}
.nav_ce_last_two{
	width: 221px;
	height: 148px;
	border: 1px solid #aaa;
	margin: -150px 222px;
}
.nav_ce_last_two>img{
	width: 182px;
	height: 139px;
	margin: 0 20px;
}
.nav_ce_last_three{
	width: 224px;
	height: 148px;
	border: 1px solid #aaa;
	margin: 0px 444px;
}
.nav_ce_last_three>a>i{
	background-image: url(../images/ad-arraw.png);
	width: 23px;
	height: 26px;
	background-position: 2px -40px;
	float: right;
	margin: 57px 5px;
}
.nav_ce_last_three>a>i:hover{
	background-image: url(../images/ad-arraw-hover.png);
	width: 23px;
	height: 26px;
	background-position: 2px -40px;
	float: right;
	margin: 57px 5px;
}
.nav_ce_last_three>a>img{
	width: 170px;
	height: 139px;
	margin: 0 5px;
}
.nav_rf{
	width: 305px;
	height: 388px;
	position: relative;
	left: 906px;
	bottom: 23px;
}
.nav_rf_first>a>img{
	width: 305px;
	height: 70px;
}
.nav_rf_ce_first{
	width: 303px;
	height: 30px;
	margin: -3px 0px;
}
.nav_rf_ce_first_lf{
	line-height: 43px;
	font-size: 14px;
	font-weight: bolder;
}
.nav_rf_ce_first_rf>a{
	color: #0254b2;
	font-weight: bolder;
	float: right;
	margin: -131px 0;
	font-size: 12px;
}
.nav_rf_ce_last{
	border: 1px solid #aaa;
	border-top: 3px solid #aaa;
	width: 304px;
	height: 124px;
	margin: -8px -1px;
}
.nav_rf_ce_last_lf{
	width: 130px;
	height: 123px;
	padding: 0 10px;
	font-size: 12px;
	line-height: 28px;
}
.nav_rf_ce_last_ce{
	border-left: 1px solid #aaa;
	width: 0px;
	height: 103px;
	margin: -118px 147px;
}
.nav_rf_ce_last_rf{
	width: 147px;
	height: 123px;
	font-size: 12px;
	line-height: 28px;
	margin: 10px 152px;
}
.nav_rf_last{
	border-bottom: 1px solid #aaa;
	width: 304px;
	height:150px;
	margin: 143px 0;
}
.nav_rf_last>li{
	border: 1px solid #aaa;
	height: 73px;
	width:74px;
	float: left;
	line-height: 5px;
	text-align: center;
}
.nav_rf_last>li>i{
	background-image: url(../images/virtuals-20140606.png);
}
.nav_rf_last_1>i{
	width: 42px;
	height: 29px;
	margin: 16px;
}
.nav_rf_last_2>i{
	width: 42px;
	height: 29px;
	background-position: 2px -48px;
	margin: 16px;
}
.nav_rf_last_3>i{
	width: 42px;
	height: 29px;
	background-position: -127px 3px;
	margin: 16px;
}
.nav_rf_last_4>i{
	width: 42px;
	height: 29px;
	background-position: -189px 3px;
	margin: 16px;
}
.nav_rf_last_5>i{
	width: 42px;
	height: 29px;
	background-position: -64px 0px;
	margin: 16px;
}
.nav_rf_last_6>i{
	width: 42px;
	height: 29px;
	background-position: -64px -49px;
	margin: 16px;
}
.nav_rf_last_7>i{
	width: 42px;
	height: 29px;
	background-position: -127px -52px;
	margin: 16px;
}
.nav_rf_last_8>i{
	width: 42px;
	height: 29px;
	background-position: -190px -48px;
	margin: 16px;
}
/*nav结束*/

/*content开始*/
.content{
	height: 430px;
	position: relative;
	top: 400px;
}
.content_first{
	height: 46px;
}
.content_first_one{
	font-size: 17px;
	font-weight: bolder;
	width: 100px;
	line-height: 45px;
}
.content_first_two{
	font-size: 13px;
	font-weight: bolder;
	width: 97px;
	margin: -30px 110px;
	font-style: italic;
}
.content_last{
	height: 383px;
	width: 1209px;
	float: left;
	position: relative;
	bottom: 373px;
}
.content_last_pic{
	float: left;
}
.content_last_pic>img{
	width: 299px;
}
.ad{
	position: relative;
	width: 623px;
	height: 205px;
	overflow: hidden;
	float: left;
	margin: -15px 1px;
}
.ad>a>img{
	width: 582px;
	height: 192px;
}
.ad_child{
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 190px;
	margin: 15px;
}
.ads>a>img{
	width: 613px;
	height: 193px;
	position: relative;
	bottom: 190px;
	left: 597px;
}
.ads>li>a>img{
	width: 582px;
	height: 192px;
	position: relative;
	bottom: 387px;
	left: 1px;
}
.title{
	font-weight: bold;
	color: #333;
	font-size: 15px;
}
.title_fu{
	font-weight: bolder;
	color: #666;
	font-size: 12px;
}
.des{
	font-weight: bold;
	color: red;
	font-size: 12px;
}
/*content结束*/

/*main开始*/
.main{
	height: 1211px;
	margin: 400px 342px;
}
.main_top{
	height: 404px;
}
.main_top_first{
	height: 35px;
}
.main_top_first_lf{
	width: 30px;
	float: left;
}
.main_top_first_lf>i{
	background-image: url(../images/index_iconlist_01.png);
	width: 26px;
	height: 33px;
	color: white;
	font-weight: bolder;
	padding: 0 4px;
	line-height: 27px;
}
.main_top_first_lf>i:hover{
	background-image: url(../images/index_iconlist_01.png);
	width: 26px;
	height: 33px;
	background-position: -40px 0px;
}
.main_top_first_ce>a{
	float: left;
	width: 120px;
	height: 34px;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	text-align: center;
}
.main_top_first_ce>a:nth-child(1){
	float: left;
	width: 120px;
	height: 34px;
	font-size: 17px;
	font-weight: bolder;
	line-height: 26px;
	text-align: center;
}
.main_top_first_rf{
	width: 211px;
	height: 34px;
	float: right;
	font-size: 13px;
}
.main_top_first_rf_one{
	width: 103px;
	color: #0166c2;
	font-weight: bold;
	float: left;
	padding: 8px 0;
}	
.main_top_first_rf_two{
	width: 103px;	
	float: right;
	color: #0166c2;
	font-weight: bold;
	padding: 8px 0;
}
.main_top_lf{
	width: 210px;
	height: 366px;
	border: 1px solid #aaa;
	border-top: 2px solid #aaa;
	border-left: 0px;
	float: left;
}
.main_top_lf_lf{
	height: 210px;
	width: 54px;
	line-height: 25px;
	padding: 0 25px;
}
.main_top_lf_rf{
	height: 210px;
	width: 54px;
	margin: -212px 104px;
	line-height: 25px;
	padding: 0 25px;
}
.main_top_lf_bottom>a>img{
	width: 200px;
	height: 140px;
	margin: 215px 5px;
}
.main_top_ce{
	width: 791px;
	height: 366px;
	border-left: 0px;
	border-top: 1px solid #aaa;
	float: left;
}
.main_top_ce_lf{
	width: 157px;
	height: 182px;
	border: 1px solid #aaa;
	border-left: 0px;
	float: left;
}
.main_top_ce_lf>a>img{
	width: 100px;
	height: 100px;
	margin: 0 30px;
}
.main_top_ce_lf>li{
	line-height: 25px;
	text-align: center;
}
.main_top_ce_lf>li:nth-child(4){
	color: red;
}
.main_top_ce_ce{
	width: 474px;
	height: 182px;
	border: 1px solid #aaa;
	border-left: 0px;
	float: left;
}
.main_top_ce_ce>a>img{
	width: 473px;
	height: 180px;
}
.main_top_ce_rf{
	width: 157px;
	height: 183px;
	border: 1px solid #aaa;
	border-left: 0px;
	float: left;
}
.main_top_ce_rf>a>img{
	width: 100px;
	height: 100px;
	margin: 0 30px;
}
.main_top_ce_rf>li{
	line-height: 25px;
	text-align: center;
}
.main_top_ce_rf>li:nth-child(3){
	color: red;
}
.main_top_ce_last_1{
	width: 157px;
	height: 183px;
	border: 1px solid #aaa;
	border-top: 0px;
	border-left: 0px;
	float: left;
}
.main_top_ce_last_1>a>img{
	width: 100px;
	height: 100px;
	margin: 0 30px;
}
.main_top_ce_last_1>li{
	line-height: 20px;
	text-align: center;
}
.main_top_ce_last_1>li:nth-child(4){
	color: red;
}
.main_top_ce_last_2{
	width: 157px;
	height: 183px;
	border: 1px solid #aaa;
	border-top: 0px;
	border-left: 0px;
	float: left;
}
.main_top_ce_last_2>a>img{
	width: 100px;
	height: 100px;
	margin: 4px 30px;
}
.main_top_ce_last_2>li{
	line-height: 25px;
	text-align: center;
}
.main_top_ce_last_2>li:nth-child(3){
	color: red;
}
.main_top_ce_last_3{
	width: 157px;
	height: 183px;
	border: 1px solid #aaa;
	border-top: 0px;
	border-left: 0px;
	float: left;
}
.main_top_ce_last_3>a>img{
	width: 100px;
	height: 100px;
	margin: 0px 30px;
}
.main_top_ce_last_3>li{
	line-height: 25px;
	text-align: center;
}
.main_top_ce_last_3>li:nth-child(4){
	color: red;
}
.main_top_ce_last_4{
	width: 157px;
	height: 183px;
	border: 1px solid #aaa;
	border-top: 0px;
	border-left: 0px;
	float: left;
}
.main_top_ce_last_4>a>img{
	width: 100px;
	height: 100px;
	margin: 0px 30px;
}
.main_top_ce_last_4>li{
	line-height: 25px;
	text-align: center;
}
.main_top_ce_last_4>li:nth-child(2){
	line-height: 25px;
	text-align: center;
	color: red;
}
.main_top_ce_last_5{
	width: 158px;
	height: 183px;
	border: 1px solid #aaa;
	border-top: 0px;
	border-left: 0px;
	float: left;
}
.main_top_ce_last_5>a>img{
	width: 100px;
	height: 100px;
	margin: 0px 30px;
}
.main_top_ce_last_5>li{
	line-height: 25px;
	text-align: center;
}
.main_top_ce_last_5>li:nth-child(3){
	color: red;
}
.main_top_rf{
	width: 206px;
	height: 366px;
	border: 1px solid #aaa;
	border-top: 2px solid #aaa;
	border-right: 0px;
	border-left: 0px;
	float: left;
}
.main_top_rf>a>img{
	width: 98px;
	height: 35px;
}
.main_top_rf_last>a>img{
	width: 206px;
	height: 181px;
	margin: -10px 0;
}
/*main结束*/

/*footer开始*/
.footer{
	height:395px;
	position: relative;
	bottom: 378px;
	margin: 0 340px;
}
.footer_first{
	border-top: 2px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 193px;
}
.footer_first_1{
	width: 242px;
	height: 193px;
	float: left;
}
.footer_first_1>i{
	width: 40px;
	height: 40px;
	background-position: 0 -55px;
	margin:20px 48px;
}
.footer_first_1_zi{
	width: 60px;
	height: 150px;
	margin: -55px 92px;
	line-height: 21px;
	font-size: 11px;
}
.footer_first_1_zi>li:nth-child(1){
	line-height: 24px;
	font-weight: bolder;
	margin: 0 -1px;
	font-size: 13px;
	width: 60px;
}
.footer_first_2{
	width: 242px;
	height: 193px;
	float: left;
}
.footer_first_2>i{
	width: 40px;
	height: 40px;
	background-position: -50px -55px;
	margin:20px 48px;
}
.footer_first_2_zi{
	width: 77px;
	height: 150px;
	margin: -55px 92px;
	line-height: 21px;
	font-size: 11px;
}
.footer_first_2_zi>li:nth-child(1){
	line-height: 24px;
	font-weight: bolder;
	margin: 0 -1px;
	font-size: 13px;
	width: 60px;
}
.footer_first_3{
	width: 242px;
	height: 193px;
	float: left;
}
.footer_first_3>i{
	width: 40px;
	height: 40px;
	background-position: 0px -102px;
	margin:20px 48px;
}
.footer_first_3_zi{
	width: 77px;
	height: 150px;
	margin: -55px 92px;
	line-height: 21px;
	font-size: 11px;
}
.footer_first_3_zi>li:nth-child(1){
	line-height: 24px;
	font-weight: bolder;
	margin: 0 -1px;
	font-size: 13px;
	width: 60px;
}
.footer_first_4{
	width: 242px;
	height: 193px;
	float: left;
}
.footer_first_4>i{
	width: 40px;
	height: 40px;
	background-position: -50px -102px;
	margin:20px 48px;
}
.footer_first_4_zi{
	width: 77px;
	height: 150px;
	margin: -55px 92px;
	line-height: 21px;
	font-size: 11px;
}
.footer_first_4_zi>li:nth-child(1){
	line-height: 24px;
	font-weight: bolder;
	margin: 0 -1px;
	font-size: 13px;
	width: 60px;
}
.footer_first_5{
	width: 229px;
	height: 193px;
	float: left;
}
.footer_first_5>i{
	width: 40px;
	height: 40px;
	background-position: 0px -149px;
	margin:20px 48px;
}
.footer_first_5_zi{
	width: 77px;
	height: 150px;
	margin: -55px 92px;
	line-height: 21px;
	font-size: 11px;
}
.footer_first_5_zi>li:nth-child(1){
	line-height: 24px;
	font-weight: bolder;
	margin: 0 -1px;
	font-size: 13px;
	width: 60px;
}
.footer_se{
	height: 40px;
	width: 775px;
	margin: 0 217px;
}
.footer_se>li{
	float: left;
	padding: 0 5px;
	line-height: 40px;
	text-align: center;
}
.footer_th{
	height: 85px;
	margin: 10px 0;
}
.footer_th_1{
	height: 15px;
	width: 690px;
	margin: 3px 259px;
	line-height: 15px;
}
.footer_th_1>li{
	float: left;
	padding: 0 2px;
}
.footer_th_2{
	height: 16px;
	width: 697px;
	margin: 0px 255px;
	line-height: 15px;
}
.footer_th_2>li{
	float: left;
	padding: 0 2px;
}
.footer_th_3{
	height: 16px;
	width: 495px;
	margin: 3px 354px;
	line-height: 15px;
}
.footer_th_3>li{
	float: left;
	padding: 0 2px;
}
.footer_th_4{
	height: 16px;
	width: 246px;
	margin: 3px 479px;
	line-height: 15px;
}
.footer_th_4>li{
	float: left;
	padding: 0 2px;
}
.footer_fo{
	height: 48px;
	padding: 0 381px;
}
